<%= form_for(recipe) do |f|%>
  <%= render partial: 'layouts/form_errors', locals: { form_errors: recipe } %>

  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :steps %>
    <%= f.text_area :steps, size: "50x10"%>
  </p>

  <p>
    <%= f.label :time %>
    <%= f.text_field :time %> minutes
  </p>

  <p>
    <%= f.label :cuisine %>
    <%= f.fields_for :cuisine do |cuisine_form| %>
      <%= render 'cuisine_fields', f: cuisine_form %>
    <% end %>
  </p>

  <%= f.label :items %>
  <ul>
    <%= f.fields_for :items do |items_form| %>
      <%= render 'items_fields', f: items_form %>
    <% end %><br>
  </ul>

  <%= f.submit %>
<% end %>
