<li>
  <%= f.label :name %>
  <%= f.text_field :name %><br>

  <%= f.label :quantity %>
  <%= f.text_field :quantity %><br>

  <%= f.label :measurement %>
  <%= select_tag('item[measurement]', options_for_select([
     ['bushel'], ['cup'], ['dash'], ['fl. oz.'],
     ['gallon'], ['gram'], ['items'], ['L'],
     ['lb.'], ['ml'], ['ounce'], ['pinch'],
     ['pint'], ['quart'], ['tbsp'], ['tsp']
  ]), include_blank: true) %><br><br>

<% unless current_page?(action: 'new') %>
  <%= f.label :_destroy %>
  <%= f.check_box :_destroy%><br>
<% end %>
</li>
