<h1 class="recipeName">
  <%= recipe.name %>
</h1>

<ul>
  <li>
    Steps: <bdi class="recipeSteps"><%= recipe.steps %></bdi>
  </li>
  <li>
    Time: <bdi class="recipeTime"><%= recipe.time %></bdi> minutes
  </li>
  <li>
    Cuisine: <bdi class="recipeCuisine"><%= recipe.cuisine.name if recipe.cuisine %></bdi>
  </li>

  <% if can? :create, recipe %>
    <%= link_to "Edit Recipe", edit_recipe_path(recipe) %><br>
  <% end %>
  <%= link_to "See The Items", recipe_items_path(recipe), :class => "load_items" %><br>
</ul>

<div class="items">
</div>


<%= form_for ([recipe, @item]) do |f|  %>
  <%= render partial: 'layouts/form_errors', locals: { form_errors: @item } %>

  <%= f.label :name %><br>
  <%= f.text_area :name %><br>

  <%= f.label :quantity %><br>
  <%= f.text_field :quantity %><br>

   <%= f.label :measurement %><br>
   <%= select_tag('item[measurement]', options_for_select([
     ['bushel'], ['cup'], ['dash'], ['fl. oz.'],
     ['gallon'], ['gram'], ['items'], ['L'],
     ['lb.'], ['ml'], ['ounce'], ['pinch'],
     ['pint'], ['quart'], ['tbsp'], ['tsp']
   ]), include_blank: true) %><br>

  <%= submit_tag "Submit", :data => { disable_with: false } %><br>
<% end %>

<button class="js-next" data-id="<%= @recipe.id%>">Next Recipe</button><br><br>
