<h1>
  <%= recipe.name %>
</h1>

<ul>
  <li>
    Steps: <%= recipe.steps %>
  </li>
  <li>
    Time: <%= recipe.time %> minutes
  </li>
  <% recipe.items.each do |item| %>
  <li>
    <%= link_to "#{item.quantity} #{item.measurement} - #{item.name}", edit_recipe_item_path(recipe, item) %>
  </li>
  <% end %>
  <%= link_to "Add Item", new_recipe_item_path(recipe) %>
</ul>
