<%= form_for [@item, @ingredient] do |f| %>
  <div class="fields_with_errors">
    <% unless @ingredient.errors.empty? %>
      <%= @ingredient.errors.full_messages %>
    <% end %>
  </div>

  <h1><%= @item.name %></h2>

  <%= f.label :quantity %><br>
  <%= f.text_field :quantity %><br>

   <%= f.label :measurement %><br>
   <%= select_tag('ingredient[measurement]', options_for_select([
     ['bushel'], ['cup'], ['dash'], ['fl. oz.'],
     ['gallon'], ['gram'], ['items'], ['L'],
     ['lb.'], ['ml'], ['ounce'], ['pinch'],
     ['pint'], ['quart'], ['tbsp'], ['tsp']
   ]), include_blank: true) %><br>

    <%= f.hidden_field :recipe_id, value: current_user.recipes.first.id %>
    <%= f.hidden_field :item_id, value: @item.id %>

    <%= f.submit %>
<% end %>
