<%= form_for(@item) do |f|%>
  <div class="fields_with_errors">
    <% unless @item.errors.empty? %>
      <%= @item.errors.full_messages %>
    <% end %>
  </div>

  <p>
   <%= f.label :quantity %>
   <%= f.text_field :quantity %>
 </p>
 <p>
   <%= f.label :measurement %>
   <%= select_tag(:measurement, options_for_select([
     ['bushel', 1], ['cup', 2], ['dash', 3], ['fl. oz.', 4],
     ['gallon', 5], ['gram', 6], ['items', 7], ['L', 8],
     ['lb.', 9], ['ml', 10], ['ounce', 11], ['pinch', 12],
     ['pint', 13], ['quart', 14], ['tbsp', 15], ['tsp', 16]
   ]), include_blank: true) %>
 </p>
   <%= f.submit %>
<% end %>
