<%= form_for (@item) do |f| %>
  <div class="fields_with_errors">
    <% unless @item.errors.empty? %>
      <%= @item.errors.full_messages %>
    <% end %>
  </div>

  <%= f.label :name %><br>
  <%= f.text_area :name %><br>

  <%= f.label :ingredients %>
  <%= f.fields_for :ingredients do |builder| %>
    <%= render 'ingredient_fields', f: builder %>
    <%= link_to_add_association "Add Ingredient", f, :ingredients %><br/>
  <% end %>

  <%= f.submit %>
<% end %>
