<nav class="navbar navbar-default">
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li><%= link_to "Homepage", root_path %></li>
      <li class="short_time"><%= link_to "Quick Recipes", recipes_short_time_path %></li>

      <% if user_signed_in? %>
        <li><%= link_to "Create Recipe", new_recipe_path %></li>
        <li><%= link_to("Sign out", destroy_user_session_path, :method => 'delete') %></li>
      <% end %>

      <% unless user_signed_in? %>
        <li><%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %></li>
        <li><%= link_to "Sign in", user_session_path %></li>
        <li><%= link_to "Sign up", new_user_registration_path %></li>
      <% end %>

      <%= content_tag(:div, flash[:error], :id => "flash_error") if flash[:error] %>
      <%= content_tag(:div, flash[:notice], :id => "flash_notice") if flash[:notice] %>
      <%= content_tag(:div, flash[:alert], :id => "flash_alert") if flash[:alert] %>
    </ul>
  </div>
</nav>
